<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <script type="text/javascript">
        <%=
        compilation.assets[htmlWebpackPlugin.files.chunks.main.entry.substr(htmlWebpackPlugin.files.publicPath.length)].source()
        %>
    </script>

    <!--Import bootstrap.css-->
    <!--<link rel="stylesheet" href="src/style/css/bootstrap/bootstrap.css">-->
    <!--<link rel="stylesheet" href="src/style/css/index.css">-->
    <!--<link rel="stylesheet" href="src/style/sass/_bootstrap.scss">-->
</head>
<body>
    <!--头部导航-->
    <div class="container-fluid">
        <!--使导航固定在顶部-->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="header-nav clearfix">
                    <ul>
                        <li class="header-logoBg"></li>
                        <li><a href="#">首页</a></li>
                        <li><a href="#">我的课程</a></li>
                        <li><a href="#">资源库</a></li>
                        <li><a href="#">在线组卷</a></li>
                        <li><a href="#">统计</a></li>
                        <li><a href="#">更多应用</a></li>
                        <li class="header-help">
                            <span class="header-infoBg"></span>
                            <div class="header-infoList">
                                <span>个人信息</span>
                                <span>使用手册</span>
                                <span>帮助</span>
                            </div>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>

    </div>
    <div class="content">
        <img src="src/images/header_info.png" alt="">
    </div>
    <div class="bbb" style="background:#f00;margin-top:70px;"></div>
    <!--底部导航-->
    <footer class="container-fluid footer">

            <p class="footer-con">
                数字校园教学系统 龙之门教育集团
                <i class="footer-logo"></i>
                Copyright 2017  etiantian.ALL Rights Reserved.</br>
                京公网备案110102001311-2　　建议使用谷歌浏览器
            </p>

    </footer>
    <!--<%= htmlWebpackPlugin.options.date %>-->

    <!--<% for (var key in htmlWebpackPlugin.files) { %>-->
        <!--<%= key %> : <%= JSON.stringify(htmlWebpackPlugin.files[key]) %>-->
    <!--<% } %>-->

    <!--<% for (var key in htmlWebpackPlugin.options) { %>-->
        <!--<%= key %> : <%= JSON.stringify(htmlWebpackPlugin.options[key]) %>-->
    <!--<% } %>-->

    <% for (var k in htmlWebpackPlugin.files.chunks) { %>
        <% if(k !== 'main') { %>
            <script type="text/javascript" src="<%= htmlWebpackPlugin.files.chunks[k].entry.substr(htmlWebpackPlugin.files.publicPath.length) %>"></script>
        <% } %>
    <% } %>




</body>

</html>